docker-compose/.env
docker-compose/.volumes
docker-compose2.0/.volumes
.idea
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/**/.*
terraform/**/*.tfvars
.direnv/
.envrc
.venv/
