[Unit]
Description=DefGuard first-boot initialisation
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/stacks/defguard
StandardOutput=append:/var/log/defguard-startup.log
StandardError=append:/var/log/defguard-startup.log
ExecStart=/bin/bash /opt/stacks/defguard/generate-env.sh
ExecStart=/bin/bash /opt/stacks/defguard/start.sh
