---
# yaml-language-server: $schema=values.schema.json
# defguard-proxy is turned off by default. enable to allow use of the enrollment interface
enabled: false
# this should be a URL based on defguard-proxy.ingress.web.host
publicUrl: "http://enrollment.local"
# defguard-proxy full name override
fullnameOverride: ""
# defguard-proxy name override
nameOverride: ""
# defguard-proxy pod autoscaling configuration
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
# defguard-proxy container image configuration
image:
  pullPolicy: IfNotPresent
  repository: ghcr.io/defguard/defguard-proxy
  tag: "" # overrides .Chart.AppVersion
# defguard-proxy container image pull secrets configuration
imagePullSecrets: []
# defguard-proxy ingress configuration
ingress:
  grpc:
    annotations: {}
    className: ""
    enabled: true
    host: enrollment-grpc.local
    labels: {}
    tls: false
  web:
    annotations: {}
    className: ""
    enabled: true
    host: enrollment.local
    labels: {}
    tls: false
# defguard-proxy pod affinity
affinity: {}
# defguard-proxy pod node selection
nodeSelector: {}
# defguard-proxy pod tolerations
tolerations: []
# defguard-proxy pod annotations
podAnnotations: {}
# defguard-proxy pod labels
podLabels: {}
# defguard-proxy pod security context
podSecurityContext: {}
# defguard-proxy container security context
securityContext: {}
# defguard-proxy container replica count
replicaCount: 1
# defguard-proxy pod resource configuration
resources: {}
# defguard-proxy service configuration
service:
  grpc:
    annotations:
      traefik.ingress.kubernetes.io/service.serversscheme: h2c
    labels: {}
    port: 50051
    type: ClusterIP
  web:
    annotations: {}
    labels: {}
    port: 8080
    type: ClusterIP
# defguard-proxy service account configuration
serviceAccount:
  annotations: {}
  create: true
# defguard-proxy additional ENV from configmap
additionalEnvFromConfigMap: ""
