apiVersion: v2
name: defguard
description: Defguard is an open-source enterprise WireGuard VPN with MFA and SSO

type: application
version: 0.14.6
appVersion: 1.6.4

dependencies:
  - name: postgresql
    condition: postgresql.enabled
    version: 18.2.3
    repository: https://charts.bitnami.com/bitnami
  - name: defguard-proxy
    condition: defguard-proxy.enabled
    version: 0.8.2
    repository: https://defguard.github.io/deployment
    # repository: "file://../defguard-proxy"
  - name: defguard-gateway
    condition: defguard-gateway.enabled
    version: 0.5.2
    repository: https://defguard.github.io/deployment
    # repository: "file://../defguard-gateway"
