apiVersion: v2
name: defguard
description: Defguard is an open-source enterprise wireGuard VPN with MFA and SSO

type: application
version: 0.7.7
appVersion: 0.11.0

dependencies:
  - name: postgresql
    condition: postgresql.enabled
    version: 12.12.10
    repository: https://charts.bitnami.com/bitnami
  - name: defguard-proxy
    condition: defguard-proxy.enabled
    version: 0.3.6
    repository: https://defguard.github.io/deployment
